/frontend
/static
/media/**/*.*

*/__pycache__
/apps/**/migrations/

Info.txt

.env.local
.env.*.local

db.sqlite3
errores.txt

*.pyc
*.pyo

# Editor directories and files
.idea
.vscode
*.suo
*ntvs*
*.njsproj
*.sln
*.sw?